# dependencies
node_modules/

# environment
.env
.env
!.env

# uploads
uploads/
!uploads/.gitkeep

# logs
*.log
logs/

# build/output
dist/
build/
coverage/

# editors
.idea/
.vscode/

# misc
.DS_Store
Thumbs.db